blockquote {
  border-left: 5px solid #0d47a1;
}

.pagination li.active {
  background-color: #0d47a1;
}

footer.page-footer {
  background-color: #0d47a1;
}

nav {
  color: #fff;
  background-color: #0d47a1;
}

/*TABS*/
.tabs .tab a {
    color: #0d47a1;
}
.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #2196f3;
}
.tabs .indicator {
    background-color: #2196f3;
}

.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
    color: rgba(0, 0, 115, 0.7);
    cursor: default;
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #0d47a1;
}

/*BUTTONS*/
.btn, btn-large {
    background-color: #2196f3;
}
.btn-floating {
    background-color: #2196f3;
}
.btn-floating:hover {
    background-color: #42a5f5;
}

.btn:hover, .btn-large:hover {
  background-color: #42a5f5;
}

.btn:focus, .btn-large:focus,
.btn-floating:focus {
  background-color: #3f51b5;
}

/*INPUT FIELD*/
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #42a5f5;
  box-shadow: 0 1px 0 0 #42a5f5;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #42a5f5;
}


ul.side-nav.leftside-navigation li.active {
    background-color: #42a5f5;
}


[type="checkbox"].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #2196f3;
    background-color: #2196f3;
    z-index: 0;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #2196f3;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid #1976d2 ;
}


/*Secundary content to collections*/
.secondary-content {
    float: right;
    color: #2196f3;
}