/*----------------------------------------
    Pre-loader
------------------------------------------*/

/*Start Preloader*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}
.statusl {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    
    /*background: url(../images/reload.svg) no-repeat center;*/
    -webkit-background-size: cover;
            background-size: cover;
    margin: -20px 0 0 -20px;
}
/*End Preloader*/